<div class="container">
    <div class="sidebar">
        <h2>CSE HealthCare</h2>
    <span><i class="fa-solid fa-house"></i>Home</span>
    <span routerLink="/users" RouterLinkAction="action"><i class="fa-solid fa-users"></i> Users</span>
    <span routerLink="/doctor" RouterLinkAction="action"><i class="fa-solid fa-user-doctor"></i> Doctors</span>
    <span routerLink="/adduser" RouterLinkAction="action"><i class="fa-solid fa-plus"></i> Add user</span>
    <span><i class="fa-solid fa-right-from-bracket"></i> Logout</span>
    </div>
</div>
