<div class="container">
    <div class="user-head">
        <span>Name</span>
        <span>Email</span>
        <span>Role</span>
        <span>Security No</span>
        <span>Id no</span>
        <span>Delete</span>
    </div>
    <div class="search">
        <input type="search" placeholder="Search patient Id no">
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="user-body">
        <span>Ravi teja</span>
        <span>m.raviteja@gmail.com</span>
        <span>Doctor</span>
        <span>Cse12909</span>
        <span>Cse234</span>
        <button (click)="showdelete()">Delete</button>
    </div>
    <div class="delete" *ngIf="close">
        <div class="delete-item">
            <div class="confirm">
                <h4>Are you sure you want to delete the user</h4>
                <div class="button">
                    <button class="close" (click)="showdelete()">Close</button>
                    <button class="delete-but" (click)="showdelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>
