
<div class="login-container" >
    <div class="login-item">
        <div class="head">
        <h1>Registration</h1></div>
        <div class="login-input">
            <input type="text" placeholder="Enter Fullname " name="name">
            <input type="date" placeholder="" name="dob">
        <input type="email" placeholder="Enter Email " name="email">
        <input type="text" placeholder="Create Userrname " name="user">
        <input type="password" placeholder="Enter Password" name="passw">
        <input type="password" placeholder="Conform password " name="cpass"><br>
        <button class="login-button">Register</button>
<button class="reset">Reset</button>       
    </div>
</div>

