<div class="container">
    <div class="patient-bar">
        <span>Name</span>
        <span>Location</span>
        <span>Room Admitted</span>
        <span>Admission no</span>
        <span>Id no</span>
        <span>Status</span>
        <span >Add diagnosis</span>
    </div>
    <div class="search">
        <input type="search" placeholder="search by patient admission no">
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
    <div class="patient-body">
        <span>Rahul</span>
        <span>Guntur</span>
        <span>CSE23412</span>
        <span>301</span>
        <span>455564</span>
        <span>Good</span>
        <button (click)="showBook()">Add</button>
    </div>
   
    <div class="book" *ngIf="close">
        <div class="book-container">
            <div class="cancel-button">
                <button class="close" (click)="showBook()">Close</button>
            </div>
            <h3 class="ap">Add Patients</h3>
            <input type="text" class="work" placeholder="Enter fullname">
            <input type="email" class="work" placeholder="Enter email">
            <input type="text" class="work" placeholder="Room area">
            <input type="text" class="work" placeholder="Room number">
            <input type="text" class="work" placeholder="Adminission number">
            <input type="text" class="work" placeholder="Id number">
            <input type="date" class="work">
            <div class="book-cancel">
                <button>Submit</button>
        
            </div>
        </div>
    
</div>
