.container{
    margin:30px;
    position: relative;

}.appointment-header{
    background-color:blue;
    margin:20px;
    color: white;
    height:60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.appointment-header span:last-child{
margin-left: 20px;
}
.appointment-item{
    margin:10px;
    display: flex;
    width: 100%;
    justify-content:space-between ;
    align-items: center;
    font-weight: bold;
}
.appointment-item button{
    background-color: red;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    width: 150px;
    padding: 5px;
    cursor: pointer;
}
.appointment-header span{
    font-weight: bold;
    font-size: 20px;
    margin-left: 80px;
}
.appointment-item span{
    font-weight: bold;
    font-size: 20px;
    margin-left: 80px;
}
.book{
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    height: 100vh;
    width: 100vw;
    top:0;
    right: 0;
}
.ap{
    align-content: center;
margin-bottom: 0px;
    margin:50px ;
    width: 300px;
    color:red;

}
.data{
width: 200px;
height: 30px;
border-radius: 5px;
margin-bottom: 20px;
}
.book-container{
    background-color: white;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:200px;
    position: absolute;
    top: 5%;
    right:5%;
}
.book-cancel>button{
    background-color: red;
    width: 60px;
    margin-left:30px;
    font-weight: bold;
    color: white;
    height: 30px;
    border-radius: 5px;
}
.book-cancel>button:hover{
    background-color: blue;
}