<div class="container">
    <div class="appointment-header">
       <span> Name of the Doctor</span>
       <span> Role</span>
       <span> Email</span>
       <span> Book Appointment</span>
    </div>
    <div class="appointment-item">
        <span> Dr.Anjal</span>
        <span> Gynaecologist</span>
        <span> Anjali@gmail.com</span>
        <button (click)="showBook()"> Book Appointment</button>
    </div>
    <div class="appointment-item">
        <span> Dr.Anjal</span>
        <span> Gynaecologist</span>
        <span> Anjali@gmail.com</span>
        <button (click)="showBook()"> Book Appointment</button>
    </div>
    <div class="appointment-item">
        <span> Dr.Anjal</span>
        <span> Gynaecologist</span>
        <span> Anjali@gmail.com</span>
        <button (click)="showBook()"> Book Appointment</button>
    </div>
    <div class="appointment-item">
        <span> Dr.Anjal</span>
        <span> Gynaecologist</span>
        <span> Anjali@gmail.com</span>
        <button (click)="showBook()"> Book Appointment</button>
    </div>
    <div class="appointment-item">
        <span> Dr.Anjal</span>
        <span> Gynaecologist</span>
        <span> Anjali@gmail.com</span>
        <button (click)="showBook()"> Book Appointment</button>
    </div>
    <div class="appointment-item">
        <span> Dr.Anjal</span>
        <span> Gynaecologist</span>
        <span> Anjali@gmail.com</span>
        <button (click)="showBook()"> Book Appointment</button>
    </div>
    <div class="appointment-item">
        <span> Dr.Anjal</span>
        <span> Gynaecologist</span>
        <span> Anjali@gmail.com</span>
        <button> Book Appointment</button>
    </div>

</div>
<div class="book" *ngIf="close">
<div class="book-container">
    <h3 class="ap">Are you sure you want to book an appointment</h3>
    <input type="text" placeholder="Enter fullname">
    <input type="text" placeholder="Enter YourAge">
<section>
    <option>Male</option>
    <option>Female</option>
    <option>Others</option>
</section>
    <input type="date" class="data">
    <div class="book-cancel">
        <button (click)="showBook()">close</button>
        <button>book</button>

    </div>
</div>
</div>
