
<div class="login-container" >
    <div class="login-item">
        <div class="cancel-button">
            <button class="close">Close</button>
        </div>
        <div class="login-input">
            <h1>CSE Healthcare Hospital</h1>
            <i class="fa-solid fa-user"> <input type="email" placeholder="Enter Email / Username" name="email"></i>
        <input type="password" placeholder="Enter Password" name="passw"><br>
        <button class="login-button">Login</button>
       
        <div class="tom">
<p><a routerLink="/registration" routerLinkAction="action">Ask to be registered</a></p>
        </div>
    </div>
</div>

