<div class="container">
    <div class="treatment">
        <p>Name of treatment</p>
        <p>madical administered</p>
        <p>Docter</p>
        <p>Bill</p>
        <p>Data</p>
        <p>Paid</p>
    </div>
    <div class="treatment-body">
<div class="treatment-item">
    <p>administered brufen</p>
        <p>Brufen</p>
        <p>Dr.Akshay</p>
        <p>2000rs</p>
        <p>9-01-2023</p>
        <button>Paid</button>
</div>
<div class="treatment-item">
    <p>administered brufen</p>
        <p>Brufen</p>
        <p>Dr.Akshay</p>
        <p>2000rs</p>
        <p>9-01-2023</p>
        <button>Paid</button>
</div>
<div class="treatment-item">
    <p>administered brufen</p>
        <p>Brufen</p>
        <p>Dr.Akshay</p>
        <p>2000rs</p>
        <p>9-01-2023</p>
        <button>Paid</button>
</div>
<div class="treatment-item">
    <p>administered brufen</p>
        <p>Brufen</p>
        <p>Dr.Akshay</p>
        <p>2000rs</p>
        <p>9-01-2023</p>
        <button>Paid</button>
</div>
<div class="treatment-item">
    <p>administered brufen</p>
        <p>Brufen</p>
        <p>Dr.Akshay</p>
        <p>2000rs</p>
        <p>9-01-2023</p>
        <button>Paid</button>
</div>
<div class="treatment-item">
    <p>administered brufen</p>
        <p>Brufen</p>
        <p>Dr.Akshay</p>
        <p>2000rs</p>
        <p>9-01-2023</p>
        <button>Paid</button>
</div>
<div class="treatment-item">
    <p>administered brufen</p>
        <p>Brufen</p>
        <p>Dr.Akshay</p>
        <p>2000rs</p>
        <p>9-01-2023</p>
        <button>Paid</button>
</div>
<div class="treatment-item">
    <p>administered brufen</p>
        <p>Brufen</p>
        <p>Dr.Akshay</p>
        <p>2000rs</p>
        <p>9-01-2023</p>
        <button>Paid</button>
</div>

    </div>
</div>
