<div class="container">
    <h1>Add Users</h1>
    <div class="addusers">
        <form action="" method="">
        <div class="form">
            <label for="">Name:<input type="text" name="">
            </label>
        </div>
        <div class="form">
            <label for="">Email:<input type="email" name="">
            </label>
        </div>
        <div class="form">
            <label for="">password/user Id no:<input type="password" name="">
            </label>
        </div>
        <div class="form">
            <label for="">Role:
            </label>
            <select name="" id>
                <option>Select position</option>
                <option>Admin</option>
                <option>Reception</option>
                <option>Doctor</option>
                <option>patient</option>
            </select>
        </div>
        <div class="butt">
            <button>Submit</button>
            <input type="reset" name="">
        </div>
            
        </form>
    </div>
</div>
