<div class="container">
    <div class="profile">
        <div class="hamber-icon">
            
        </div>
        <img src="../../assets/wp2632110 (.webp">
        <p class="name">Name:Ravi</p>
        <p class="status">status:Good</p>
        <button class="home"><a routerLink="/home" routerLinkAction="action">Home</a></button>
        <button class="appointment"><a routerLink="/appointment" routerLinkAction="action">Appointment</a></button>
        <button class="buy madician">Madical</button>
        <button class="logout">Logout</button>
    </div>
</div>
