.container{
    background-color:rgb(202, 188, 188);
    height: 100hv;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 50px;
}
.fa-solid{
    font-size: 100px;
    cursor: pointer;
    margin: 10px 50px;
    margin-top: 20px;
}
.nav span{
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}
.na span{
    margin:0px;
}
