<div class="container">
    <div class="treatment">
        <span>Treatment</span>
        <span>Drug</span>
        <span>Doctor</span>
        <span>Bills</span>
        <span>Date</span>
        <span>Paid</span>
    </div>
<div class="search">
    <input type="search" placeholder="search bill">
</div>
    <div class="treatment-body">
        <div class="treatment-item">
       <span>Trerapy</span>
        <span>Brufen</span>
        <span>Dr.Rohit</span>
        <span>1500 Rs</span>
        <span>12/02/2023</span>
        <span>Pending</span>
        </div>
        
    </div>
    <div class="treatment-body">
        <div class="treatment-item">
       <span>Trerapy</span>
        <span>Brufen</span>
        <span>Dr.Rohit</span>
        <span>1500 Rs</span>
        <span>12/02/2023</span>
        <span>Pending</span>
        </div>
        
    </div>
    <div class="treatment-body">
        <div class="treatment-item">
       <span>Trerapy</span>
        <span>Brufen</span>
        <span>Dr.Rohit</span>
        <span>1500 Rs</span>
        <span>12/02/2023</span>
        <span>Pending</span>
        </div>
        
    </div>
    <div class="treatment-body">
        <div class="treatment-item">
       <span>Trerapy</span>
        <span>Brufen</span>
        <span>Dr.Rohit</span>
        <span>1500 Rs</span>
        <span>12/02/2023</span>
        <span>Pending</span>
        </div>
        
    </div>
    <div class="treatment-body">
        <div class="treatment-item">
       <span>Trerapy</span>
        <span>Brufen</span>
        <span>Dr.Rohit</span>
        <span>1500 Rs</span>
        <span>12/02/2023</span>
        <span>Pending</span>
        </div>
        
    </div>
    <div class="treatment-body">
        <div class="treatment-item">
       <span>Trerapy</span>
        <span>Brufen</span>
        <span>Dr.Rohit</span>
        <span>1500 Rs</span>
        <span>12/02/2023</span>
        <span>Pending</span>
        </div>
        
    </div>
</div>
